/* .hhee {
    
} */

.hhee {
    max-width: 800px;
    margin-right: 10px;
    -webkit-animation-name: landing; 
    -webkit-animation-duration: 10s; 
    animation-name: landing;
    animation-duration: 10s;
  }

@keyframes landing {
    0%   { margin-left:180px; top:0px;}
    50%  { margin-left:0px; top:0px;}
    
}

.intro {
    
    background: linear-gradient( to left, rgba(0, 0, 0, 0.808) 100%, rgba(0, 0, 0, 0.808) 100% ), url("img/img9.jpeg") center no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90%;
    width: 100%;
    padding-top: 76px;
    padding-bottom: 84px;
    position: relative;
    z-index: 4;
}

.landing-p {
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 1px;
}
.landing-h1 {
    font-size: 68px;
}
.landing-p a {
    color: #2da24e;
}
.landing-p a:hover {
    color: #b8d344;
    text-decoration: underline;
}

.cont {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 1.2em;
    height: 0.10em;
    background-color: #2da24e;
    margin: 4px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg);
    translate: (-9px, 6px);
    transform: rotate(-45deg);
    translate: (-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg);
    translate: (-8px, -8px);
    transform: rotate(45deg);
    translate: (-8px, -8px);
}

.btn-outline-success:hover {
    color: white !important;
    background-color: #2da24e !important;
    border-color: #2da24e !important ;
}
.btn-outline-success {
    background-color: white !important;
    color: #2da24e !important;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
    font-size: 0.9em;
    letter-spacing: 0.4px;
    border-color: white !important ;
}

.btn {
    box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
    padding: 0.5rem 1.8rem;
    transform: perspective(1px) translateZ(0);
    transition: all .4s;
}

.btn[class*="btn-outline-"] {
    padding: .6rem 1.8rem;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.navbar .nav-item .nav-link {
    color: white !important;   
}

.navbar .nav-item .nav-link:hover {
    color: #2da24e !important;   
}

.navbar-collapse {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    
    letter-spacing: 0.4px;
}
.top-nav-collapse {
    background-color: white;
  }

  .top-nav-collapse .navbar-collapse .nav-item .nav-link {
    color: black !important;
  }
  .top-nav-collapse .navbar-collapse .nav-item .nav-link:hover {
    color: #2da24e !important;
  }

  .top-nav-collapse .navbar-collapse .btn-outline-success {
    border-color: #2da24e !important;
  }

.navbar-brand {
    padding-top: 7px;
    padding-bottom: 7px;
}

    /*before scrolling*/
.navbar-brand .immg1 {
    height: 30px;
    width: 120px;
    display: block;
}
.navbar-brand .immg2 {
    height: 30px;
    width: 120px;
    display: none;
} /*before scrolling*/

    /*after scrolling*/
.top-nav-collapse .navbar-brand .immg1 {
    display: none !important;
  }
.top-nav-collapse .navbar-brand .immg2 {
    display: block !important;
  } /*after scrolling*/

  .services, .process, .values {
      padding-top: 100px;
      padding-bottom: 50px;
  }

  .experience {
    padding-top: 60px;
    padding-bottom: 50px;
}

  .service-img {
    height: 500px;
    width: 100%;
    background-size: cover;
    cursor: pointer;
    
  }

  .service-img1 {
      background-image: url("img/software.jpg");
      
  }

  .service-img2 {
    background-image: url("img/mobile-app.jpg");
    
}

.service-img3 {
    background-image: url("img/ux.jpg");
    
}

.service-content {
    padding: 34px;
    position: absolute;
    bottom: 0;
}

.service-img:hover .img-cover {
    background: -webkit-linear-gradient(-120deg, #b8d344, #2da24e   ) ;
    opacity: 0.9;
}

.service-img:hover .service-content {
    margin-bottom: 36px;
    transition: 0.4s;
}

.img-cover {
    background-color: rgba(0, 0, 0, 0.384);
    position: relative;
    height: 100%;
    transition: opacity 0.4s linear;
}
/* .img-cover:hover {
    background-color: rgba(148, 37, 37, 0.767);
    position: relative;
    height: 100%;
} */
/* .service-content:hover {
    bottom: 30px;
} */
.process-img img {
    width: 100%;
}

.experience-img img {
    height: 196px;
    width: 100%;
    transition: ease 0.3s;
    /* background-size: contain;
    
    background-repeat: no-repeat; */
  }

.experience-img img:hover {
    transform: scale(1.05);
    
}

.x-img {
    margin-bottom: 30px;
}
.values-icon {
    margin-right: 40px;
}
.values-content {
    display: grid;
}
.values-col {
    padding: 18px 10px 18px 16px;
    transition: 0.4s;
}
.values-col:hover {
    box-shadow: 0px 10px 30px 0px rgba(218, 218, 218, 0.527);
}
.values-col:hover .values-icon i {
    background: #bbd54b;
    color: #9cbc12;
    transition: 0.4s;
}

.values-icon i {
    height: 80px;
    width: 80px;
    background-color: #ddeaa6;
    border-radius: 50%;
    float: left;
    font-size: 46px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #a2c433;
}
.mdi-lightbulb-on-outline {
    transform: rotate(-24deg);
}
.mdi-arm-flex-outline {
    transform: rotate(24deg);
}
.question {
    font-size: 68px; 
    font-weight: 720;
    color: #2da24e;
    float: right;
}
.question:hover {
    text-decoration: underline;
    color: #a2c433;
}
footer {
    padding-top: 100px;
    padding-bottom: 60px;
}
hr {
   margin-top: 80px; 
   margin-bottom: 70px;
}
.footer-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 30px; 
    color: #2c2f47;
}
.footer-list a {
    color: #2c2f47;
}
.footer-list a:hover {
    color: #2da24e;
}




/* .x-img1 {
    background-image: url("img/mastercard.png");
}
.x-img2 {
    background-image: url("img/mtn.png");
}
.x-img3 {
    background-image: url("img/nike.png");
}
.x-img4 {
    background-image: url("img/max.png");
}
.x-img5 {
    background-image: url("img/access.png");
}
.x-img6 {
    background-image: url("img/budweiser.png");
} */

  

  /* header .fixed-top .navbar-brand img + img, .navbar a img {
      display: block;
  } */

  /* header .fixed-top img, .navbar a img + img{
    display: none;
} */

@media (min-width: 600px){
    .navbar.scrolling-navbar {
        
        -webkit-transition: background 0.2s ease-in-out,padding 0.2s ease-in-out;
        transition: background 0.2s ease-in-out,padding 0.2s ease-in-out;
        }
}

  @media (max-width: 576px) {
    .landing-h1 {
      font-size: 50px; 
    }
  }

  @media (max-width: 576px) {
    .landing-p {
      font-size: 16.8px; 
      line-height: 30px;
    }
  }

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: transparent; 
    }
  }

  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: transparent;
    }
  }

@media (min-width: 600px) {
.navbar.scrolling-navbar {
    padding-top: 8px;
    padding-bottom: 8px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding-bottom: 20px;
        }
    }

@media (max-width: 578px) {
    .navbar .navbar-collapse {
        background-color: #2da24e ;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 0px !important;
    }
}

@media (max-width: 578px) {
    .top-nav-collapse .navbar-collapse {
        background-color: white ;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media (min-width: 578px) {
    .top-nav-collapse .navbar-collapse {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media (max-width: 578px){
    .navbar .nav-item .nav-link {
        color: white !important;
        font-size: 16px;
    }
}

@media (max-width: 578px){
    .navbar .nav-item .nav-link:hover {
        color: #a2c433 !important;
    }
}

@media (max-width: 992px){
    .navbar .nav-item .nav-link {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 992px){
    .btn-outline-success {
        margin-left: 0px;
    }
}

@media (max-width: 578px){
    .navbar .nav-item .nav-link, .btn-outline-success {
        margin-left: 20px;
    }
}

@media (max-width: 578px){
    .navbar .navbar-collapse {
        margin-top: 15px;
    }
}

@media (max-width: 578px){
    .service-img {
        height: 320px;
    }
}

@media (min-width: 768px){
    .process-img img {
        width: 90%;
    }
}

@media (max-width: 768px){
    .experience-img img {
        height: 278px !important;
        width: 100%;
      }
}

@media (max-width: 992px){
    .experience-img img {
        height: 330px;
        width: 100%;
      }
}

@media (max-width: 992px) and (min-width: 768px){
    .values-icon i {
        margin-right: 80px !important;
        margin-top: 14px;
    }
}

@media (max-width: 768px){
    .values-icon i {
        align-items: center;
        text-align: center;
        margin-left: 45%;
    }
}

@media (max-width: 768px){
    .values-col {
        text-align: center;
        display: grid;
        align-items: center;
        
    }
}

@media (min-width: 992px){
    .que-lg-6 {
        margin-left: 50%;
    }
}

@media (max-width: 576px){
    .question {
        font-size: 50px;
    }
}


